{% extends "layout.html" %}
{% block body %}
{% if cylinder_tanks %}
<form method="POST" action="{{ url_for('config') }}">
  <table>
    {% for field in form %}
      <tr>
        <td>{{ field.label }} :</td>
        <td>
          {{ field }}
          {% if field.errors %}
            <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Mettre à jour la configuration" />
</form>
{% endif %}

<!--
<h2>Tanks rectangulaires</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Volume</th>
    <th>Width</th>
    <th>Length</th>
    <th>Height</th>
  </tr>
  {% for tank in cuboid_tanks %}
    <tr>
      <td>{{ tank.id }}</td>
      <td>{{ tank.volume }}</td>
      <td>{{ tank.width }}</td>
      <td>{{ tank.length }}</td>
      <td>{{ tank.height }}</td>
    </tr>
  {% endfor %}
</table>
-->

<p>
  </p>
<!--
<p>
  <a href="{{ url_for('create_cuboid_tank') }}">Configurer un tank rectangulaire</a>
</p>
-->

<h2>
    Tanks cylindriques
    <a href="{{ url_for('create_cylinder_tank') }}">+</a>
</h2>

{% if cylinder_tanks %}
<table>
  <tr>
    <th>Id</th>
    <th>Volume (L)</th>
    <th>Rayon (mm)</th>
    <th>Hauteur (mm)</th>
  </tr>
  {% for tank in cylinder_tanks %}
    <tr>
      <td>{{ tank.id }}</td>
      <td>{{ tank.litre_volume }}</td>
      <td>{{ tank.radius }}</td>
      <td>{{ tank.height }}</td>
    </tr>
  {% endfor %}
</table>
{% else %}
<p>
    Aucun. Vous devez en <a href="{{ url_for('create_cylinder_tank') }}">configurer un</a>.
</p>
{% endif %}

{% endblock %}
