{% extends "layout.html" %}
{% block body %}
<p>
  <a href="{{ url_for('create_cylinder_tank') }}">Create a cylinder tank</a>
</p>
<p>
  <a href="{{ url_for('create_cuboid_tank') }}">Create a cuboid tank</a>
</p>

<form method="POST" action="{{ url_for('config') }}">
  <table>
    {% for field in form %}
      <tr>
        <td>{{ field.label }} :</td>
        <td>
          {{ field }}
          {% if field.errors %}
            <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Update config" />
</form>
{% endblock %}
