{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% block body %}

{% if water_volume %}
<p>
  {{ water_volume.litre_volume }} L ({{ 100 * water_volume.litre_volume / tank.litre_volume }} %)
  <br/>
  {{ water_volume.datetime.strftime('%Y-%m-%d %H:%M') }}
</p>
{% endif %}

<canvas id="tank_canvas" width="200" height="300">
  <p>
  Volume minimal: {{ config.min_water_volume }}
  <br/>
  Volume courant: <span id="water_volume">{{ water_volume }}</span>
  <br/>
  Volume maximal: {{ config.max_water_volume }}
  </p>
</canvas>

<p id="unknown_water_volume">Niveau d'eau du tank inconnu.</p>

<p>
Débit d'entrée minimal: {{ config.min_flow_in }}
<br/>
Débit d'entrée courant: <span id="water_flow_in">{{ water_flow_in.flow }}</span>
</p>

<p>
Pompe d'entrée: <span id="pump_in_state">{{ pump_in_state.running }}</span>
</p>

<p>
Débit de sortie courant: <span id="water_flow_out">{{ water_flow_out.flow }}</span>
</p>

<p>
Réseau urbain: <span id="urban_network_state">{{ urban_network_state.running }}</span>
</p>

<form method="POST" action="{{ url_for('pump_in', running=1) }}">
  <input type="submit" value="Allumer la pompe d'entrée" />
</form>

<form method="POST" action="{{ url_for('pump_in', running=0) }}">
  <input type="submit" value="Arrêter la pompe d'entrée" />
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var MIN_VOLUME = {{ config.min_water_volume }};
    var MAX_VOLUME = {{ config.max_water_volume }};
    var WATER_VOLUME = {{ water_volume.volume if water_volume != None else "null" }};
    var TOTAL_VOLUME = {{ tank.volume }};
    var MAX_WATER_PERCENTAGE = MAX_VOLUME / TOTAL_VOLUME;
    var MIN_WATER_PERCENTAGE = MIN_VOLUME / TOTAL_VOLUME;

    var MIN_FLOW_IN = {{ config.min_flow_in }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
