{% extends "layout.html" %}
{% block body %}
<p>
Water volume: {{ water_volume.volume }} ({{ water_volume.datetime }})
</p>

<p>
Pump in: {% if pump_in and pump_in.running %} on {% else %} off {% endif %}
</p>

<form method="POST" action="{{ url_for('pump_in', running=1) }}">
  <input type="submit" value="Start pump in" />
</form>

<form method="POST" action="{{ url_for('pump_in', running=0) }}">
  <input type="submit" value="Stop pump in" />
</form>

<form method="POST" action="{{ url_for('configure') }}">
  <table>
    {% for field in config_form %}
      <tr>
        <td>{{ field.label }} :</td>
        <td>{{ field }}</td>
      </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Update config" />
</form>
{% endblock %}
